body {
    margin: 0px;
    font-family: monospace;
}

#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    height: 100vh;
    padding: 8px;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    height: 70%;
    border: 8px solid #000000;
    border-radius: 5px;
    background-color: #000000;
}

#display {
    width: 100%;
    background-color: #ffffff;
    border: 5px solid #000000;
    border-bottom: 7px solid #000000;
    height: 20%;
    box-sizing: border-box;
    text-align: end;
    font-size: 75px;
    font-weight: 600;
}

#container > button {
    width: calc(100% / 4);
    height: calc(80% / 5);
    box-sizing: border-box;
    border-radius: 7px;
    border: 3px solid #000000;
    font-family: monospace;
    font-size: 25px;
    font-weight: 550;
}

.operand,
.decimal {
    background-color: #cbbfbf;
}

.action {
    background-color: #dd2424;
}

.operator,
.equals
 {
    background-color: #e7962c;
}

.operator:focus {
    background-color: #a98659;
}

.equals:active {
    background-color: #a98659;
}

.operand:active {
    background-color: #eae1e1;
}

.action:active {
    background-color: #dd5a5a;
}